*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    overflow: hidden; 
    background-color:#62374e;
}
/* Foi definida a cor do site, com um padrão de css; */

.quadrado{
    background-color:#fdc57b ;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 8%;
    margin-top: 5%;
}
/* Definindo a cor do quadrado e suas posições */
.quadrado2{
    background-color:#fdc57b ;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    margin-right: 8%;
    margin-top: 5%;

}
.quadrado3{
    background-color:#fdc57b ;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    margin-left: 8%;
    margin-bottom: 5%;

}

/* Fui utilizando os mesmos comandos, mas alterando suas porcentagens, px e etc ... */
.quadrado4{
    background-color:#fdc57b ;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin-right: 8%;
    margin-bottom: 5%;


}