*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: #62306D;
    }
    
    .quadrado-1{
        width: 225px;
        height: 225px;
        top: 475px;
        left: 625px;
        position: absolute;
        background-color: #F7EC7D;
        border-end-end-radius: 50%;
        border-end-start-radius: 50%;
    }
    
    .quadrado-2{
        width: 225px;
        height: 225px;
        top: 250px;
        left: 850px;
        position: absolute;
        background-color: #F7EC7D;
        border-start-start-radius: 50%;
        border-start-end-radius: 50%;
    }
    
    .quadrado-3{
        width: 225px;
        height: 225px;
        top: 475px;
        left: 1075px;
        position: absolute;
        background-color: #F7EC7D;
        border-end-end-radius: 50%;
        border-end-start-radius: 50%;
    }
